__pycache__/

iSLAT/.DS_Store

iSLAT/__pycache__/

iSLAT/DATAFILES/SAVES/
iSLAT/DATAFILES/LINESAVES/
iSLAT/DATAFILES/MODELS/
iSLAT/DATAFILES/.DS_Store
iSLAT/DATAFILES/HITRANdata/*
!iSLAT/DATAFILES/HITRANdata/data_Arabhavi_*.par
!iSLAT/DATAFILES/HITRANdata/data_HITEMP_*.par

iSLAT/DATAFILES/EXAMPLE-data/
!iSLAT/DATAFILES/EXAMPLE-data/CITau_IRS_Pontoppidan+2010.csv
!iSLAT/DATAFILES/EXAMPLE-data/CITau_MIRI_Banzatti+2023b.csv
!iSLAT/DATAFILES/EXAMPLE-data/FZTau_ISHELL_Banzatti+2023a.csv
!iSLAT/DATAFILES/EXAMPLE-data/FZTau_MIRI_Pontoppidan+2024.csv

iSLAT/DATAFILES/LINELISTS/
!iSLAT/DATAFILES/LINELISTS/Atomic_lines.csv
!iSLAT/DATAFILES/LINELISTS/cont_ranges_Banzatti+2025.csv
!iSLAT/DATAFILES/LINELISTS/MIRI_general_Banzatti+2025.csv
!iSLAT/DATAFILES/LINELISTS/MIRI_H2O_ortho-para-pairs.csv
!iSLAT/DATAFILES/LINELISTS/MIRI_H2O_v0-0.csv
!iSLAT/DATAFILES/LINELISTS/MIRI_H2O_v1-0.csv
!iSLAT/DATAFILES/LINELISTS/MIRI_H2O_v1-1.csv

.idea/
.venv/

.DS_store