__pycache__/

iSLAT/.DS_Store

iSLAT/__pycache__/
iSLAT/COMPONENTS/__pycache__/
iSLAT/COMPONENTS/DataProcessing/__pycache__/
iSLAT/COMPONENTS/DataTypes/__pycache__/
iSLAT/COMPONENTS/DataTypes/ir_model/__pycache__/
iSLAT/COMPONENTS/FileHandling/__pycache__/
iSLAT/COMPONENTS/GUI/__pycache__/
iSLAT/COMPONENTS/Debug/__pycache__/
iSLAT/COMPONENTS/GUI/Widgets/__pycache__/
iSLAT/COMPONENTS/GUI/Widgets/Plotting/__pycache__/
iSLAT/COMPONENTS/DataProcessing/PlottingLogic/__pycache__/

iSLATOld/__pycache__/
iSLATOld/COMPONENTS/__pycache__/
iSLATOld/COMPONENTS/GUI/__pycache__/
iSLATOld/ir_model/__pycache__/

iSLAT/ir_model/__pycache__/

iSLAT/DATAFILES/SAVES/
iSLAT/DATAFILES/LINESAVES/
iSLAT/DATAFILES/MODELS/
iSLAT/DATAFILES/.DS_Store

.DS_store